# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.env
build

.agent
.agents
.claude
.gemini
.github
.opencode
.opencode-agent
.kiro
.vscode
/out
./out
out
/out/

# Ignore everything inside public/audio
public/audio/*

# Allow sfx
!public/audio/default/

# Typecast: un-ignore folder, ignore content, re-allow default
!public/audio/typecast/default/

